version: '3.8'

services:
  postgres:
    image: postgres:17-alpine
    container_name: auth-postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - auth_pgdata:/var/lib/postgresql/data
    read_only: false
    tmpfs:
      - /tmp
    networks:
      - auth-network

  auth-service:
    build: .
    environment:
      - VIRTUAL_HOST=api.savuliak.com
      - LETSENCRYPT_HOST=api.savuliak.com
      - LETSENCRYPT_EMAIL=savuliak.roman@gmail.com
    depends_on:
      - postgres
    expose:
      - "8080"
    env_file:
      - .env
    networks:
      - auth-network
      - gateway-network

volumes:
  auth_pgdata:

networks:
  auth-network:
  gateway-network:
    external: true