server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/auth_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  test:
    database:
      replace: none
jwt:
    secret: ${JWT_SECRET}
    refresh-token:
      expiration-ms: 2592000000
    access-token:
        expiration-ms: 900000
google:
  client-id: 424121716950-g87ltpn5f3q6q4gl169frn9fp046i7rd.apps.googleusercontent.com
  client-secret: ${GOOGLE_CLIENT_SECRET}
  redirect-uri: https://auth.savuliak.com/api/v1/auth/oauth/google
